<div class="share">
	<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
	{% if site.weibo_share %}
	<a class="addthis_button_sinaweibo"></a>
	{% endif %}
	{% if site.facebook_like %}
	<a class="addthis_button_facebook"></a>
	{% endif %}
	{% if site.twitter_tweet_button %}
	<a class="addthis_button_twitter"></a>
	{% endif %}
	{% if site.pinterest_share %}
	<a class="addthis_button_pinterest_share"></a>
	{% endif %}
	{% if site.google_plus_one %}
	<a class="addthis_button_google_plusone_share"></a>
	{% endif %}
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile_id }}"></script>
</div>
